/vendor/
/node_modules/
/public/build/
/public/hot

.env
.env.*
!.env.example

/auth.json
.phpunit.result.cache
.phpunit.cache/
.phpstan.cache
.phpstan.result-cache
.pest-cache/

/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/tests/Browser/Screenshots/
/tests/Browser/Traces/
/tests/Browser/Videos/

.idea/
.vscode/
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
